@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@font-face {
	font-family: "Haikyuu";
	src: url("https://assets.codepen.io/209981/HaikyuuWithBallGX.ttf");
    font-weight: normal;
}
 
*{
    box-sizing: border-box;
    font-family: 'Montserrat','san-serif';
    color: rgb(143, 125, 125);
}
html,body{
    margin: 0%;
    padding: 0%;  
}

.navbar ul{
    margin: 0;
}

.main-header{
    padding-bottom: 30px; ;
}

.main-nav li{
    display: inline;
}

.main-nav a{
    display: inline-block;
    padding: .5em; 
    color: #e46f29;
    text-decoration: none;
    font-weight: bold;
}

.main-nav a:hover{
    text-decoration: underline;
}

.navbar{
    text-align: center;
    font-size: 1.1em;
    border-bottom: 1px solid rgba(34, 30, 30, 0.3);
}

.navbar li{
    padding: 0 5%;
}

.Name{
    font-family: 'Haikyuu';
    text-align: center;
    text-transform: uppercase;
    -webkit-text-stroke-width: 2px;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-color: orangered;
    letter-spacing: 0rem;
    margin: 0%;
    font-size: 6em;
    color: #e46f29;
    font-weight: normal;
    padding-bottom: 20px;
}

.btn{
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-header{
    margin: .5em 15% 2em 15%;
    color: black;
    border: 2px solid #209cd0;
    background-color: rgba(255, 255, 255,.1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover{
    background-color: rgba(34, 28, 28, 0.3);
}

.content{
    margin: 1em;
}


.container{
    max-width: 600px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.container-season{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}
.sec-header{
    padding-top: 5px;
    border-top: 1px solid rgba(24, 22, 22, 0.5);
    text-decoration:solid;
    font-weight: lighter;
    color: rgb(228, 104, 21);
    text-align: center;
    font-size: 2.5em;
    margin: 0%;
}
/* 
.btn-play{
    display: block;
    margin: 0 auto;
    color: #209cd0;
    font-size: 2em;
    border-radius: 50%;
    padding: 0;
    width: 70px;
    height: 70px;
} */

.main-footer{
    color: white;
    padding: .25em 0;
}

.main-footer-container{
    border-top: 1px solid rgba(32, 28, 28, 0.5);
    display: flex;
    align-items: center;
}

.main-footer-container ul{
     flex-grow: 1;
     text-align: right;
}

.footer-nav li{
    padding: 0 .5em;
}

.season-row{
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin: 1em;
}

.season-row:last-child{
    border-bottom: none;
}

.season-num{
    padding-right: .5em;
    display: inline-block;
    color: #e46f29;
    font-weight: bold;
    width: 30%;
}

.watch-text{
    padding-right: .5em;
    display: inline-block;
    color: #e46f29;
    font-weight: bold;
    width: 42%;   
}

.season-btn{
    max-width: 19%;
}

.btn-primary{
    color: white;
    background-color: #e46f29;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover{
    background-color:#ff5e00;
}


.animation:hover{
	animation: fight 1.5s forwards ease-in-out;
}

@keyframes fight {
	0% {
		font-variation-settings: "wght" 100;
	}

	100% {
		font-variation-settings: "wght" 700;
	}
}